# Arbeidsbok: Nye stats

Du arbeider her for å videreføre arbeidet

Du har gjort:
- Beregnet steady-state course- og speed change
- Beregnet forholdet, ikke bare true/false når det kommer til dSOG og dCOG og hvor vidt de overstiger verdier for før-perioden (overshoot)
- Du har begrenset før- og etter-periodene til 60 sek før og etter ikke alle observasjoner før og etter
- Du har sørget for å bruke circmean istedenfor mean på sirkulære verdier (viktig)
- Du beregner avstanden mellom skipene idet de foretar sin manøver
- Du gjør utvelgelse ift lengde på skip, ikke med absolutt størrelse
- Du henter ut lats og lons for situasjonene, slik at du kan plotte dem

Du kan fremdeles:
- Ha en høyere begrensnning for hva det vil si å registreres som en speed/course maneuver (prøv deg frem med dette og plott i R)
- Leke deg rundt med om mean eller max er best for å bestemme course/speed maneuver
- NB: Husk å ta ut no action-ene, eventuelt bruke steady-state og total speed change / coruse change til å teste robustheten til disse
- Bruke mean rolling filter for steady course / speed change isteden
- Plotte dSOG, SOG osv for noen utvalgte situasjoner - se at ting stemmer

In [1]:
# Importing relevant libraries
import numpy as np
import pandas as pd 
import datetime as dt
import pyarrow.parquet as pq
import glob, os

from NearCollisionStatistics import *

# Setting internal options for speedup
pd.set_option('compute.use_bottleneck', True)
pd.set_option('compute.use_numexpr', True)

pd.set_option('display.max_columns', 500)

# Reading small dataset from CSV

Reading the small one-day sample from CSV file. This does not take increadibly much memory (but still quite some).

In [3]:
### Building a databank ###

# Re-reading full AIS original file
PATH_csv = "~/code/DATA_DNV/ais_small.csv"

incols = ["date_time_utc","mmsi","lat","lon","sog","cog","true_heading","length","nav_status","RISK_Norwegian_Main_Vessel_Category_ID"]

AIS_df = pd.io.parsers.read_csv(PATH_csv
                        ,engine="c"
                        ,sep=";"
                        ,usecols=incols        
                        ,compression=None
                        ,dtype={"mmsi": np.uint64,             
                                "lat": np.float32, 
                                "lon": np.float32,
                                "sog": np.float32,
                                "cog": np.float32,
                                "true_heading": np.float32,
                                "length": np.float32,
                                "nav_status": np.int32,
                                "RISK_Norwegian_Main_Vessel_Category_ID": np.float32}
                        )

# Renaming fields
AIS_df.rename(columns={"date_time_utc": "Time",
                        "mmsi": "ID",
                        "lon": "LON",
                        "lat": "LAT",
                        "nav_status": "Status",
                        "true_heading": "Heading",
                        "sog": "SOG",
                        "cog": "COG",
                        "length": "Length",
                        "RISK_Norwegian_Main_Vessel_Category_ID": "Category"
                         },inplace=True)

# Converting time column from string to datetime
AIS_df["Time"] = pd.to_datetime(AIS_df.Time,format="%Y-%m-%dT%H:%M:%S.%f",box=False)

# Storing datetimes in the dataframe
AIS_df["Time_datetime"] = AIS_df["Time"]

# Converting datetimes to ints for later conversion to intervals
AIS_df["Time"] = AIS_df.Time.values.astype(np.uint64) / 10**9

# Removing platforms
AIS_df = AIS_df[(AIS_df.ID > 99999999)&(AIS_df.ID <= 999999999)]

# Sorting by time
AIS_df.sort_values(by = "Time",inplace=True)

## Computing on the small dataset

Computing happens here.

In [ ]:
AIS_filtered = time_to_CPA_calculator(AIS_df)

In [4]:
# Collecting observations
DATABANK = observation_collector(AIS_df, AIS_filtered)

AIS_databank = DATABANK

# Synchronizing times
databank_mergetime = observation_synchronizer(AIS_databank)

In [5]:
### Calculating Statistics (CPA, tCPA, CPA_dist) for all observations ###

AIS_db = databank_mergetime

# Calculating stats
AIS_with_stats = Stat_calculator(AIS_db)

# Calculating dSOG and dCOGs
AIS_with_diffs = diffs_computer(AIS_with_stats)

Removing 546 erroneous records
Removing 5572 inf entitites
Removing 0 NaN entitites

In [4]:
AIS_with_diffs = pd.io.parsers.read_csv("AIS_with_stats.csv")

In [10]:
### Calculating summary statistics ###
AIS2_db = AIS_with_diffs

# Calculating summart statistics
AIS_summary_stats = statistics_aggregator(AIS2_db)

AIS_with_diffs.to_csv("AIS_with_stats.csv",index=False)

# Writing final output for further analysis
AIS_summary_stats.to_csv("AIS_summary_stats.csv",index=False,
                     )

# Reading from parquet and writing to HDF5

Reading and writing to queryable format

In [2]:
files = glob.glob("/users/arnsteinvestre/code/Parquet/*.parquet")
cols = ["Timestamp", "MMSI-nummer", "Longitude", "Latitude", "Speed_over_ground", "Course_over_ground", "Length", "Navigational_status", "Risk_category","Width"]
pqdataset = pq.ParquetDataset(files)
AIS_pqds = pqdataset.read(columns = cols)
AIS_pd = AIS_pqds.to_pandas()

/anaconda/lib/python3.7/site-packages/pyarrow/pandas_compat.py:752: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels, = index.labels

In [3]:
# Creating day labels
AIS_pd["Daystamp"] = AIS_pd["Timestamp"].dt.normalize()
AIS_pd["Day"] = AIS_pd["Daystamp"].factorize()[0]

In [4]:
# Renaming fields
AIS_pd.drop(labels="Daystamp",axis=1,inplace=True)

In [5]:
AIS_pd.rename(columns={"Timestamp": "Time",
                        "MMSI-nummer": "ID",
                        "Longitude": "LON",
                        "Latitude": "LAT",
                        "Navigational_status": "Status",
                        "Speed_over_ground": "SOG",
                        "Course_over_ground": "COG",
                        "Length": "Length",
                        "Risk_category": "Category"
                         },inplace=True)

In [6]:
# Storing datetimes in the dataframe
AIS_pd["Time_datetime"] = AIS_pd["Time"]

# Converting datetimes to ints for later conversion to intervals
AIS_pd["Time"] = AIS_pd.Time.values.astype(np.uint64) / 10**9

In [ ]:
#AIS_pd.drop(columns = ["IMO","Risk_category_name","Ship_cargo_type_ID"], inplace = True)
# If not properly read (with cols restriction)

In [13]:
data_store = pd.HDFStore("AIS_from_parquet_large.h5")

for day in range(0,12):

    AIS_daytable = AIS_pd[AIS_pd["Day"] == day]
    
    print("Day",day,"separated")
    
    data_store["day{}_df".format(day)] = AIS_daytable
    
    print("Day",day,"written")
    
data_store.close()

Day 0 separated
Day 0 written
Day 1 separated
Day 1 written
Day 2 separated
Day 2 written
Day 3 separated
Day 3 written
Day 4 separated
Day 4 written
Day 5 separated
Day 5 written
Day 6 separated
Day 6 written
Day 7 separated
Day 7 written
Day 8 separated
Day 8 written
Day 9 separated
Day 9 written
Day 10 separated
Day 10 written
Day 11 separated
Day 11 written

# Collecting instances on the large set

We now transition to reading the large file and turning this into a larger databank.
This requires using a larger part of memory, thus be careful.

## First some testing

We need to check that it works on a small sample

In [14]:
data_store = pd.HDFStore("AIS_from_parquet_large.h5")
AIS_pd = data_store["day1_df".format(day)]
data_store.close()

In [22]:
AIS_pd_samp = AIS_pd[np.random.rand(len(AIS_pd.index)) < 0.05].copy()

In [23]:
# Creating intervals
AIS_pd_samp["Interval"] = (AIS_pd_samp.Time - np.min(AIS_pd_samp.Time)) // 20
AIS_pd_samp["Interval"] = AIS_pd_samp.Interval.values.astype(np.uint32)

In [24]:
AIS_shorter = AIS_pd_samp.drop_duplicates(["ID","Interval"],keep="first")
AIS_shorter = AIS_shorter.sort_values(by=["Time","LON","LAT"], axis=0, inplace=False)

In [38]:
AIS_filtered = time_to_CPA_calculator(AIS_shorter,namedict = {"DateTime": "Time_datetime", 
                            "ID": "ID",
                            "Time": "Time",
                            "COG": "COG",
                            "SOG": "SOG",
                            "Heading": "Heading",
                            "LON": "LON",
                            "LAT": "LAT",
                            "Status": "Status",
                            "Length": "Length",
                            "Interval": "Interval",
                            "Distances": "Distances",
                            "Day": "Day"})

In [ ]:
AIS_collector = AIS_filtered

# Collecting observations
DATABANK_parq = observation_collector(AIS_pd_samp, AIS_filtered)

# Synchronizing times
databank_mergetime_l = observation_synchronizer(DATABANK_parq)
# Computing time to cpas and differentiations
AIS_large_with_stats = Stat_calculator(databank_mergetime_l)
AIS_large_with_diffs = diffs_computer(AIS_large_with_stats)

In [69]:
# Computing summary stats for each situation
AIS_large_summary_stats = statistics_aggregator(AIS_large_with_diffs)

## Now it starts for real
This is a loop that ideally computes for the whole set

In [4]:
### Read whole HDF5 table
data_store = pd.HDFStore("AIS_from_parquet_large.h5")
day1 = 0
AIS_collector_flag = False

data_store2 = pd.HDFStore("AIS_large_instances.h5")

for day in range(day1,12):
    
    AIS_pd = data_store["day{}_df".format(day)]
    
    AIS_pd["Time_Datetime"] = AIS_pd["Time_datetime"]
    AIS_pd.drop(columns=["Time_datetime"],inplace=True)
    # Removing platforms
    AIS_pd = AIS_pd[(AIS_pd.ID > 99999999)&(AIS_pd.ID <= 999999999)]

    # Creating intervals
    AIS_pd["Interval"] = (AIS_pd.Time - np.min(AIS_pd.Time)) // 20
    AIS_pd["Interval"] = AIS_pd.Interval.values.astype(np.uint32)
    
    AIS_shorter = AIS_pd.drop_duplicates(["ID","Interval"],keep="first")
    AIS_shorter = AIS_shorter.sort_values(by=["Time","LON","LAT"], axis=0, inplace=False)
    
    print("Starting calculations day",day)
    
    AIS_filtered = time_to_CPA_calculator(AIS_shorter)

    data_store2["Large_instances_day_{}".format(day)] = AIS_filtered
    
    if not AIS_collector_flag:
        AIS_collector = AIS_filtered
        AIS_collector_flag = True
    else:
        AIS_collector = pd.concat([AIS_collector, AIS_filtered])
    
    print("Finished day",day)
data_store.close()

print("Storing")
# Lagre mellomlagring
data_store2["Large_instances_all"] = AIS_collector
data_store2.close()

Starting calculations day 8
Finished day 8
Starting calculations day 9
Finished day 9
Starting calculations day 10
Finished day 10
Starting calculations day 11
Finished day 11

# Using instances to collect databank from large set

The databank is collected here

In [15]:
data_storeA = pd.HDFStore("AIS_large_istances_day0to7.h5")
data_storeB = pd.HDFStore("AIS_large_istances_8to11.h5")

AIS_large_filtered1 = pd.concat([data_storeA["Large_instances_day0to7"], data_storeB["Large_instances_8to11"]])
AIS_databank_flag = False

data_storeA.close()
data_storeB.close()

data_store = pd.HDFStore("AIS_from_parquet_large.h5")

data_storeSTAT = pd.HDFStore("AIS_summary_stats_large_backup.h5")

for day in range(0,12):
    AIS_pd = data_store["day{}_df".format(day)]
    
    # Collecting observations
    DATABANK_parq = observation_collector(AIS_pd, AIS_large_filtered1[AIS_large_filtered1["Day"] == day])
    
    # Synchronizing times
    databank_mergetime_l = observation_synchronizer(DATABANK_parq)
    
    # Computing time to cpas and differentiations
    AIS_large_with_stats = Stat_calculator(databank_mergetime_l)
    AIS_large_with_diffs = diffs_computer(AIS_large_with_stats)
    
    # Saving stat-ed file
    AIS_large_with_diffs.to_csv("AIS_large_with_stats_day{}.csv".format(day),
                                index=False)
    
    # Computing summary stats for each situation
    AIS_large_summary_stats = statistics_aggregator(AIS_large_with_diffs)

    data_storeSTAT["Stats_day_{}".format(day)] = AIS_large_summary_stats
    
    if not AIS_databank_flag:
        AIS_stats_databank_large = AIS_large_summary_stats
        AIS_databank_flag = True
    else:
        AIS_stats_databank_large = pd.concat([AIS_stats_databank_large,AIS_large_summary_stats])
    
    print("Finished day",day)

# Writing final output for further analysis
data_store.close()

AIS_stats_databank_large = AIS_stats_databank_large.reset_index(drop = True)
AIS_stats_databank_large["Situation_glob"] = AIS_stats_databank_large.index + 1

AIS_stats_databank_large.to_csv("AIS_large_summary_stats.csv",index=False,
                     )

Removing 1226 erroneous records
Removing 2887 inf entitites
Removing 0 NaN entitites
Finished day 0
Removing 1516 erroneous records
Removing 6637 inf entitites
Removing 0 NaN entitites
Finished day 1
Removing 1595 erroneous records
Removing 3591 inf entitites
Removing 0 NaN entitites
Finished day 2
Removing 120175 erroneous records
Removing 10407 inf entitites
Removing 0 NaN entitites
Finished day 3
Removing 724 erroneous records
Removing 3078 inf entitites
Removing 0 NaN entitites
Finished day 4
Removing 5619 erroneous records
Removing 4813 inf entitites
Removing 0 NaN entitites
Finished day 5
Removing 706 erroneous records
Removing 3366 inf entitites
Removing 0 NaN entitites
Finished day 6
Removing 1353 erroneous records
Removing 3948 inf entitites
Removing 0 NaN entitites
Finished day 7
Removing 4848 erroneous records
Removing 21607 inf entitites
Removing 0 NaN entitites
Finished day 8
Removing 863 erroneous records
Removing 2129 inf entitites
Removing 0 NaN entitites
Finished day 9
Removing 834 erroneous records
Removing 5734 inf entitites
Removing 0 NaN entitites
Finished day 10
Removing 1320 erroneous records
Removing 4496 inf entitites
Removing 0 NaN entitites
Finished day 11

In [ ]:
a = 5

In [6]:
AIS_large_filtered1

,ID_Vessel_1,Time_Vessel_1,LON_Vessel_1,LAT_Vessel_1,SOG_Vessel_1,COG_Vessel_1,Length_Vessel_1,Status_Vessel_1,ID_Vessel_2,Time_Vessel_2,LON_Vessel_2,LAT_Vessel_2,SOG_Vessel_2,COG_Vessel_2,Length_Vessel_2,Status_Vessel_2,Min_time_to_CPA,CPA,Day
184568,244234000,2015-12-15 10:42:56,10.58720,59.11450,11.9,34.0,NaN,0,376185000,2015-12-15 10:42:45,10.57180,59.11740,10.3,217.4,NaN,0,0.004964,937.427612,0
268075,258509000,2015-12-15 14:52:45,10.69350,59.89460,9.8,62.2,NaN,0,258266500,2015-12-15 14:52:41,10.69180,59.89530,22.9,237.1,NaN,0,0.005133,122.921204,0
342169,259097000,2015-12-15 18:34:06,6.32020,62.39150,11.3,178.0,NaN,8,259098000,2015-12-15 18:34:06,6.32980,62.39160,9.4,356.0,NaN,0,0.018247,495.392181,0
239131,225424000,2015-12-15 13:33:27,10.62300,59.61810,14.5,176.3,NaN,0,311164000,2015-12-15 13:33:33,10.61630,59.61820,9.9,173.0,NaN,0,0.035673,377.408997,0
3525,259620000,2015-12-15 00:14:46,5.16130,60.26180,7.9,189.8,NaN,0,219375000,2015-12-15 00:14:51,5.15183,60.26420,13.7,206.0,NaN,0,0.054630,587.174133,0
334114,257244500,2015-12-15 18:10:16,9.77765,59.00690,7.8,129.1,NaN,0,232722000,2015-12-15 18:10:03,9.77767,59.00690,8.3,133.5,NaN,0,0.059300,1.147752,0
112562,518631000,2015-12-15 07:04:34,10.61850,59.84160,10.1,210.6,NaN,5,258306500,2015-12-15 07:04:22,10.60890,59.84390,29.0,219.0,NaN,0,0.077480,594.797363,0
4480,229061000,2015-12-15 00:18:01,5.28853,59.60930,13.5,28.9,NaN,0,259998000,2015-12-15 00:18:04,5.27609,59.61100,10.7,206.8,NaN,0,0.100848,725.688782,0
75157,257074700,2015-12-15 05:09:06,5.56225,59.77220,11.1,37.8,NaN,0,257022800,2015-12-15 05:09:18,5.54650,59.77550,12.5,221.0,NaN,0,0.101552,956.011108,0
150725,518730000,2015-12-15 09:02:40,10.55290,59.52940,8.3,53.4,NaN,0,518631000,2015-12-15 09:02:59,10.54870,59.53080,9.9,231.2,NaN,5,0.102567,283.719269,0
231190,258327500,2015-12-15 13:11:38,7.09360,62.67990,11.8,7.0,NaN,0,258329500,2015-12-15 13:11:31,7.08800,62.68010,11.4,191.0,NaN,0,0.115247,286.958221,0
308912,257082200,2015-12-15 16:50:52,4.77052,60.88380,10.4,167.5,NaN,0,231104000,2015-12-15 16:50:52,4.77348,60.88390,14.6,353.2,NaN,0,0.121691,160.689728,0
211870,331070000,2015-12-15 12:12:30,19.05060,69.71860,12.1,9.9,NaN,0,258499000,2015-12-15 12:12:38,19.04680,69.71870,9.9,191.8,NaN,0,0.124318,147.017151,0
126597,257387400,2015-12-15 07:48:25,7.35713,61.14920,10.3,112.1,NaN,0,257518000,2015-12-15 07:48:22,7.36092,61.15160,10.3,288.1,NaN,0,0.130775,335.834747,0
245537,257249000,2015-12-15 13:49:11,10.67130,59.88280,10.5,215.2,NaN,0,259187000,2015-12-15 13:49:04,10.66860,59.88330,23.9,215.6,NaN,0,0.130896,160.736099,0
402313,257280000,2015-12-15 21:35:22,5.11801,61.91230,9.9,161.6,NaN,0,259119000,2015-12-15 21:35:27,5.12138,61.91270,11.8,322.2,NaN,0,0.138511,182.153320,0
154613,377134000,2015-12-15 09:13:31,16.59720,68.63960,10.0,31.4,NaN,0,259464000,2015-12-15 09:13:38,16.59250,68.63990,9.7,197.6,NaN,0,0.142321,193.407944,0
380418,257244500,2015-12-15 20:26:12,9.62053,59.10490,11.0,353.4,NaN,0,259706000,2015-12-15 20:26:16,9.62191,59.10490,5.7,346.6,NaN,0,0.153964,78.876701,0
149081,258296000,2015-12-15 08:58:06,5.32763,60.02580,18.7,177.9,NaN,0,258271000,2015-12-15 08:58:17,5.33381,60.02580,18.6,0.1,NaN,0,0.156703,343.686737,0
43110,256149000,2015-12-15 03:02:51,5.16027,60.26550,11.2,39.4,NaN,2,257021700,2015-12-15 03:02:52,5.14620,60.26650,11.5,173.0,NaN,0,0.160010,784.757446,0
195376,259125000,2015-12-15 11:20:21,7.16342,62.73370,6.4,41.0,NaN,0,258329500,2015-12-15 11:20:29,7.16093,62.73430,7.3,235.0,NaN,0,0.170429,143.422485,0
83208,258306500,2015-12-15 05:36:13,10.71340,59.89990,28.2,62.3,NaN,0,258266500,2015-12-15 05:36:17,10.71110,59.90100,22.1,240.5,NaN,0,0.177692,177.604858,0
418193,259593000,2015-12-15 22:31:22,5.88182,59.17040,7.1,61.0,NaN,0,259592000,2015-12-15 22:31:30,5.88058,59.17080,6.3,218.0,NaN,0,0.179954,83.628441,0
120665,258352500,2015-12-15 07:28:32,5.17801,60.33890,30.0,140.9,NaN,0,231104000,2015-12-15 07:28:29,5.17979,60.33930,15.4,304.6,NaN,0,0.181906,107.493919,0
291196,257026800,2015-12-15 15:57:03,5.77398,58.98120,15.1,241.6,NaN,0,259551000,2015-12-15 15:57:17,5.76916,58.98330,7.2,53.0,NaN,0,0.191390,361.948273,0
344701,258328500,2015-12-15 18:41:03,7.09303,62.67660,10.9,7.0,NaN,0,258327500,2015-12-15 18:41:07,7.08890,62.67670,11.5,183.0,NaN,0,0.231280,211.297501,0
146800,257211400,2015-12-15 08:51:36,6.28405,62.62580,10.9,176.0,NaN,0,257066700,2015-12-15 08:51:27,6.27748,62.62640,11.6,50.4,NaN,0,0.259830,342.810883,0
208089,258352500,2015-12-15 12:01:35,5.19595,60.12540,28.7,142.0,NaN,0,257015700,2015-12-15 12:01:22,5.19862,60.12580,12.2,335.6,NaN,0,0.262259,154.531830,0
267520,219016713,2015-12-15 14:51:17,5.15264,61.96730,10.7,358.3,NaN,0,210459000,2015-12-15 14:51:06,5.15211,61.97300,10.8,351.0,NaN,0,0.269246,635.035217,0
292691,258219000,2015-12-15 16:02:11,10.70540,59.89880,10.2,237.5,NaN,0,341712000,2015-12-15 16:02:16,10.70360,59.89940,6.6,47.9,NaN,0,0.272701,120.611214,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272370,259595000,2015-09-15 14:50:27,3.21003,62.96660,7.6,254.7,NaN,0,259454000,2015-09-15 14:50:35,3.23957,62.96810,12.8,251.3,NaN,0,766.334595,916.282593,11
195624,258219000,2015-09-15 11:04:10,10.67360,59.88340,9.6,36.4,NaN,0,310456000,2015-09-15 11:04:17,10.66300,59.88360,10.7,48.5,NaN,0,776.969666,265.118927,11
79592,257069200,2015-09-15 05:11:06,22.13300,70.45550,10.5,103.2,NaN,0,257293500,2015-09-15 05:11:07,22.17520,70.47100,6.2,223.4,NaN,0,783.567566,955.772339,11
269780,259526000,2015-09-15 14:42:17,3.09692,63.31970,12.8,354.1,NaN,0,257138000,2015-09-15 14:42:08,3.12084,63.33350,10.1,327.0,NaN,0,788.006531,474.007324,11
201625,563265000,2015-09-15 11:23:38,153.17400,-27.36280,6.1,203.1,NaN,0,503384400,2015-09-15 11:23:28,153.17400,-27.36170,6.2,204.0,NaN,5,797.743042,111.089729,11
113284,257837000,2015-09-15 06:53:39,16.07320,68.22620,5.4,244.2,NaN,0,259649000,2015-09-15 06:53:27,16.10070,68.23060,11.0,246.8,NaN,0,801.006104,466.977386,11
209630,258354000,2015-09-15 11:47:03,3.29151,63.01480,9.2,339.4,NaN,0,257564600,2015-09-15 11:47:02,3.29920,63.02920,9.8,306.0,NaN,0,828.735596,647.639587,11
316686,257062400,2015-09-15 17:18:58,5.52943,59.88450,7.9,165.9,NaN,15,257074700,2015-09-15 17:18:49,5.55607,59.88770,7.6,209.0,NaN,0,830.909241,839.906494,11
142019,259374000,2015-09-15 08:21:28,3.49292,63.14990,6.4,204.3,NaN,0,257564600,2015-09-15 08:21:35,3.49695,63.16120,7.2,179.0,NaN,0,833.775146,997.649109,11
193590,657919000,2015-09-15 10:57:24,7.05883,4.06067,11.1,337.4,NaN,0,538005285,2015-09-15 10:57:22,7.05145,4.07042,8.2,344.6,NaN,0,840.742126,108.925232,11
114722,311738000,2015-09-15 06:58:31,10.62900,59.85910,10.9,34.0,NaN,0,258219000,2015-09-15 06:58:38,10.65790,59.87190,5.4,22.2,NaN,0,859.630859,800.632507,11
353033,257144400,2015-09-15 19:28:40,11.09410,59.27070,5.5,99.2,NaN,0,636011343,2015-09-15 19:28:52,11.09330,59.27080,5.7,99.0,NaN,0,876.693420,5.947283,11
290052,377138000,2015-09-15 15:47:43,-77.16070,-12.04610,8.9,282.7,NaN,0,356909000,2015-09-15 15:47:46,-77.17440,-12.04480,5.7,278.0,NaN,0,878.446655,409.200775,11
359307,259609000,2015-09-15 19:55:59,29.11010,70.86130,6.0,232.4,NaN,0,259210000,2015-09-15 19:55:55,29.14130,70.86810,11.8,240.0,NaN,0,883.130920,415.696350,11
159379,257214000,2015-09-15 09:14:37,3.67968,63.13380,8.1,109.6,NaN,7,257454000,2015-09-15 09:14:24,3.68645,63.14790,5.5,147.3,NaN,15,893.627197,933.182190,11
105995,258031000,2015-09-15 06:30:07,5.01394,61.55900,10.6,156.5,NaN,0,256149000,2015-09-15 06:30:08,4.98604,61.56240,13.6,131.6,NaN,0,898.615601,718.973022,11
96983,518351000,2015-09-15 06:04:20,5.70019,59.01930,9.7,97.0,NaN,0,308784000,2015-09-15 06:04:24,5.66863,59.01950,16.0,89.3,NaN,0,906.369324,721.126770,11
361955,258029000,2015-09-15 20:07:03,5.32807,59.97860,7.8,142.0,NaN,0,259827000,2015-09-15 20:07:11,5.34697,59.99420,10.6,163.5,NaN,0,908.837585,648.973633,11
80158,257564600,2015-09-15 05:13:14,3.74868,63.17630,8.3,252.0,NaN,0,257454000,2015-09-15 05:13:13,3.73111,63.19390,8.4,214.9,NaN,15,913.684570,239.115036,11
42484,258267000,2015-09-15 02:53:08,23.64980,70.62850,7.7,28.1,NaN,0,258394500,2015-09-15 02:53:12,23.62740,70.63420,9.3,39.1,NaN,0,915.000977,961.394104,11
306941,636015641,2015-09-15 16:43:23,118.57900,-20.26440,7.6,336.0,NaN,0,229839000,2015-09-15 16:43:20,118.57800,-20.26240,7.4,334.0,NaN,15,920.283752,191.849121,11
278249,309325000,2015-09-15 15:11:09,5.29971,60.39210,5.2,135.5,NaN,0,256149000,2015-09-15 15:11:05,5.28169,60.39630,8.7,115.2,NaN,0,921.438721,469.734375,11
195133,259088000,2015-09-15 11:02:10,7.91715,63.10250,11.5,342.1,NaN,0,257219400,2015-09-15 11:02:05,7.88660,63.11910,10.1,32.0,NaN,0,942.612305,806.952454,11
221186,257390900,2015-09-15 12:18:59,5.73989,58.97410,6.2,120.6,NaN,0,259551000,2015-09-15 12:18:40,5.77413,58.98820,7.0,193.4,NaN,0,947.876404,302.004425,11
44313,229790000,2015-09-15 03:00:28,118.58700,-20.28610,6.2,0.7,NaN,15,248190000,2015-09-15 03:00:29,118.58800,-20.28610,6.3,0.0,NaN,0,951.907654,85.204071,11
342556,257513000,2015-09-15 18:44:43,5.16585,60.37170,5.3,175.2,NaN,0,258326000,2015-09-15 18:44:54,5.15608,60.38840,9.4,166.0,NaN,0,952.505066,96.803589,11
200927,257564600,2015-09-15 11:21:23,3.31993,63.01620,8.7,219.0,NaN,0,258354000,2015-09-15 11:21:38,3.28440,63.03230,9.7,155.3,NaN,0,970.729919,849.678101,11
271991,477190500,2015-09-15 14:49:29,118.58300,-20.27350,7.2,335.5,NaN,0,503512000,2015-09-15 14:49:36,118.58200,-20.27240,7.0,334.6,NaN,0,977.019714,112.531799,11
194193,219016713,2015-09-15 10:59:13,12.20580,65.64290,10.2,194.2,NaN,0,259546000,2015-09-15 10:59:09,12.17420,65.64950,11.6,155.1,NaN,0,980.854187,423.933044,11
227261,257280000,2015-09-15 12:35:38,18.94050,69.63020,5.3,179.2,NaN,0,257302500,2015-09-15 12:35:31,18.97430,69.64800,11.0,210.0,NaN,0,980.957153,363.562653,11

In [10]:
data_storeB["Large_instances_8to11"]

,ID_Vessel_1,Time_Vessel_1,LON_Vessel_1,LAT_Vessel_1,SOG_Vessel_1,COG_Vessel_1,Length_Vessel_1,Status_Vessel_1,ID_Vessel_2,Time_Vessel_2,LON_Vessel_2,LAT_Vessel_2,SOG_Vessel_2,COG_Vessel_2,Length_Vessel_2,Status_Vessel_2,Min_time_to_CPA,CPA,Day
139175,257244500,2015-05-15 08:38:19,9.66566,59.05430,8.9,102.0,NaN,0,232722000,2015-05-15 08:38:11,9.66568,59.05430,9.0,104.7,NaN,0,0.000635,1.146426,8
299050,219347000,2015-05-15 16:43:40,5.54222,59.02150,23.4,175.5,NaN,0,231711000,2015-05-15 16:43:47,5.55024,59.02160,15.6,359.9,NaN,0,0.013957,459.659302,8
120775,258327500,2015-05-15 07:40:56,7.09780,62.68130,11.7,7.0,NaN,0,258328500,2015-05-15 07:40:56,7.09120,62.68150,10.9,189.0,NaN,0,0.037310,337.904327,8
292341,259436000,2015-05-15 16:22:58,10.18460,64.19870,7.8,30.1,NaN,0,258422000,2015-05-15 16:22:53,10.17960,64.19930,8.6,214.4,NaN,0,0.038384,251.383102,8
159523,245432000,2015-05-15 09:48:53,11.97530,65.28770,11.3,23.3,NaN,0,215349000,2015-05-15 09:48:41,11.96880,65.28820,14.2,204.0,NaN,0,0.045576,307.658844,8
274937,259638000,2015-05-15 15:27:55,10.18850,63.46980,11.6,153.1,NaN,0,257013700,2015-05-15 15:27:56,10.19440,63.47030,10.4,340.9,NaN,0,0.052287,298.563995,8
289611,257338000,2015-05-15 16:14:01,5.89015,59.13590,26.1,129.0,NaN,0,259592000,2015-05-15 16:14:02,5.89682,59.13880,9.2,144.0,NaN,0,0.054271,499.510254,8
149128,311571000,2015-05-15 09:13:31,4.64067,60.85930,10.7,269.0,NaN,0,258196000,2015-05-15 09:13:38,4.64116,60.85930,10.8,262.3,NaN,0,0.067267,26.572075,8
86634,259592000,2015-05-15 05:56:37,5.89508,59.13980,11.5,154.0,NaN,0,257338000,2015-05-15 05:56:22,5.89614,59.13990,15.5,342.5,NaN,0,0.070827,61.519226,8
119733,259344000,2015-05-15 07:37:38,10.64100,59.41430,12.0,44.0,NaN,0,259402000,2015-05-15 07:37:37,10.63640,59.41550,13.5,226.0,NaN,0,0.079858,292.859680,8
383750,305846000,2015-05-15 21:54:53,20.42580,70.00030,12.1,74.3,NaN,0,259631000,2015-05-15 21:54:41,20.41630,70.00590,9.1,264.7,NaN,0,0.110285,720.705139,8
151463,258323000,2015-05-15 09:21:58,9.67829,63.68490,8.5,353.2,NaN,0,257304900,2015-05-15 09:21:44,9.66905,63.68600,7.4,256.0,NaN,0,0.131391,472.209137,8
167672,259329000,2015-05-15 10:16:09,4.88471,61.55930,6.7,81.7,NaN,7,257419000,2015-05-15 10:16:05,4.88165,61.56090,13.4,74.1,NaN,0,0.140775,241.090424,8
312819,710006080,2015-05-15 17:28:17,-43.14820,-22.91400,11.3,166.1,NaN,0,710021560,2015-05-15 17:28:11,-43.14380,-22.91290,13.0,341.0,NaN,0,0.145292,467.652222,8
29697,258430000,2015-05-15 02:16:21,5.07768,62.17700,11.3,22.1,NaN,0,259371000,2015-05-15 02:16:38,5.06338,62.17810,14.8,197.0,NaN,0,0.146816,753.064331,8
285215,257644000,2015-05-15 15:59:09,10.27060,64.23990,9.1,50.5,NaN,0,258422000,2015-05-15 15:59:03,10.26740,64.24070,8.8,234.8,NaN,0,0.151041,178.681168,8
229417,259125000,2015-05-15 13:19:56,7.16488,62.73460,6.9,37.9,NaN,0,258328500,2015-05-15 13:19:44,7.16345,62.73490,6.6,231.0,NaN,0,0.158814,80.268837,8
209874,258271000,2015-05-15 12:26:38,5.56738,59.14740,16.0,107.5,NaN,5,259386000,2015-05-15 12:26:28,5.57306,59.15080,15.4,299.9,NaN,0,0.168230,498.292908,8
287658,257473000,2015-05-15 16:07:35,17.65320,69.07210,19.9,273.1,NaN,0,258359500,2015-05-15 16:07:35,17.65910,69.07330,13.6,167.9,NaN,0,0.179201,270.237213,8
296424,259488000,2015-05-15 16:35:01,6.35949,62.37420,10.0,142.0,NaN,0,257297400,2015-05-15 16:35:10,6.34587,62.37540,9.1,95.3,NaN,0,0.195408,715.637512,8
634,219416000,2015-05-15 00:03:10,4.97128,60.49930,9.5,156.4,NaN,0,257551000,2015-05-15 00:03:18,4.97750,60.49990,10.4,338.7,NaN,0,0.213146,347.488800,8
291126,258632000,2015-05-15 16:18:49,4.76889,61.01170,28.0,311.9,NaN,0,258566000,2015-05-15 16:18:49,4.77255,61.01250,8.8,299.0,NaN,0,0.228575,216.657349,8
242993,219016713,2015-05-15 13:56:31,7.29009,63.04470,11.5,246.7,NaN,0,248907000,2015-05-15 13:56:23,7.28183,63.04970,12.5,75.6,NaN,0,0.230301,695.443726,8
82084,730044000,2015-05-15 05:41:54,-77.08540,3.88344,5.5,70.9,NaN,0,351187000,2015-05-15 05:41:47,-77.08490,3.88383,7.7,3.7,NaN,0,0.232277,70.796837,8
110457,257200000,2015-05-15 07:07:25,13.06830,66.58600,15.0,170.3,NaN,0,258202000,2015-05-15 07:07:24,13.07240,66.58620,7.7,178.0,NaN,0,0.236100,182.695190,8
100705,259094000,2015-05-15 06:37:12,5.43843,60.12680,13.5,332.8,NaN,0,258223000,2015-05-15 06:37:06,5.42678,60.12730,18.5,214.9,NaN,0,0.240412,648.307556,8
337352,259677000,2015-05-15 18:58:47,6.52238,62.42380,11.9,297.8,NaN,0,311166000,2015-05-15 18:58:48,6.50644,62.42480,14.3,250.7,NaN,0,0.254306,828.909119,8
383727,259151000,2015-05-15 21:54:44,5.07533,62.17180,9.4,13.9,NaN,0,258090000,2015-05-15 21:54:56,5.07298,62.17200,7.9,206.4,NaN,0,0.257014,124.151306,8
209062,257741000,2015-05-15 12:24:04,16.01750,68.35030,13.2,2.9,NaN,0,257837000,2015-05-15 12:24:08,16.00680,68.35040,14.8,182.3,NaN,0,0.258965,439.573669,8
85632,258219000,2015-05-15 05:53:33,10.70250,59.89710,10.3,62.0,NaN,0,258306500,2015-05-15 05:53:31,10.70090,59.89780,28.2,237.4,NaN,0,0.268302,118.639198,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272370,259595000,2015-09-15 14:50:27,3.21003,62.96660,7.6,254.7,NaN,0,259454000,2015-09-15 14:50:35,3.23957,62.96810,12.8,251.3,NaN,0,766.334595,916.282593,11
195624,258219000,2015-09-15 11:04:10,10.67360,59.88340,9.6,36.4,NaN,0,310456000,2015-09-15 11:04:17,10.66300,59.88360,10.7,48.5,NaN,0,776.969666,265.118927,11
79592,257069200,2015-09-15 05:11:06,22.13300,70.45550,10.5,103.2,NaN,0,257293500,2015-09-15 05:11:07,22.17520,70.47100,6.2,223.4,NaN,0,783.567566,955.772339,11
269780,259526000,2015-09-15 14:42:17,3.09692,63.31970,12.8,354.1,NaN,0,257138000,2015-09-15 14:42:08,3.12084,63.33350,10.1,327.0,NaN,0,788.006531,474.007324,11
201625,563265000,2015-09-15 11:23:38,153.17400,-27.36280,6.1,203.1,NaN,0,503384400,2015-09-15 11:23:28,153.17400,-27.36170,6.2,204.0,NaN,5,797.743042,111.089729,11
113284,257837000,2015-09-15 06:53:39,16.07320,68.22620,5.4,244.2,NaN,0,259649000,2015-09-15 06:53:27,16.10070,68.23060,11.0,246.8,NaN,0,801.006104,466.977386,11
209630,258354000,2015-09-15 11:47:03,3.29151,63.01480,9.2,339.4,NaN,0,257564600,2015-09-15 11:47:02,3.29920,63.02920,9.8,306.0,NaN,0,828.735596,647.639587,11
316686,257062400,2015-09-15 17:18:58,5.52943,59.88450,7.9,165.9,NaN,15,257074700,2015-09-15 17:18:49,5.55607,59.88770,7.6,209.0,NaN,0,830.909241,839.906494,11
142019,259374000,2015-09-15 08:21:28,3.49292,63.14990,6.4,204.3,NaN,0,257564600,2015-09-15 08:21:35,3.49695,63.16120,7.2,179.0,NaN,0,833.775146,997.649109,11
193590,657919000,2015-09-15 10:57:24,7.05883,4.06067,11.1,337.4,NaN,0,538005285,2015-09-15 10:57:22,7.05145,4.07042,8.2,344.6,NaN,0,840.742126,108.925232,11
114722,311738000,2015-09-15 06:58:31,10.62900,59.85910,10.9,34.0,NaN,0,258219000,2015-09-15 06:58:38,10.65790,59.87190,5.4,22.2,NaN,0,859.630859,800.632507,11
353033,257144400,2015-09-15 19:28:40,11.09410,59.27070,5.5,99.2,NaN,0,636011343,2015-09-15 19:28:52,11.09330,59.27080,5.7,99.0,NaN,0,876.693420,5.947283,11
290052,377138000,2015-09-15 15:47:43,-77.16070,-12.04610,8.9,282.7,NaN,0,356909000,2015-09-15 15:47:46,-77.17440,-12.04480,5.7,278.0,NaN,0,878.446655,409.200775,11
359307,259609000,2015-09-15 19:55:59,29.11010,70.86130,6.0,232.4,NaN,0,259210000,2015-09-15 19:55:55,29.14130,70.86810,11.8,240.0,NaN,0,883.130920,415.696350,11
159379,257214000,2015-09-15 09:14:37,3.67968,63.13380,8.1,109.6,NaN,7,257454000,2015-09-15 09:14:24,3.68645,63.14790,5.5,147.3,NaN,15,893.627197,933.182190,11
105995,258031000,2015-09-15 06:30:07,5.01394,61.55900,10.6,156.5,NaN,0,256149000,2015-09-15 06:30:08,4.98604,61.56240,13.6,131.6,NaN,0,898.615601,718.973022,11
96983,518351000,2015-09-15 06:04:20,5.70019,59.01930,9.7,97.0,NaN,0,308784000,2015-09-15 06:04:24,5.66863,59.01950,16.0,89.3,NaN,0,906.369324,721.126770,11
361955,258029000,2015-09-15 20:07:03,5.32807,59.97860,7.8,142.0,NaN,0,259827000,2015-09-15 20:07:11,5.34697,59.99420,10.6,163.5,NaN,0,908.837585,648.973633,11
80158,257564600,2015-09-15 05:13:14,3.74868,63.17630,8.3,252.0,NaN,0,257454000,2015-09-15 05:13:13,3.73111,63.19390,8.4,214.9,NaN,15,913.684570,239.115036,11
42484,258267000,2015-09-15 02:53:08,23.64980,70.62850,7.7,28.1,NaN,0,258394500,2015-09-15 02:53:12,23.62740,70.63420,9.3,39.1,NaN,0,915.000977,961.394104,11
306941,636015641,2015-09-15 16:43:23,118.57900,-20.26440,7.6,336.0,NaN,0,229839000,2015-09-15 16:43:20,118.57800,-20.26240,7.4,334.0,NaN,15,920.283752,191.849121,11
278249,309325000,2015-09-15 15:11:09,5.29971,60.39210,5.2,135.5,NaN,0,256149000,2015-09-15 15:11:05,5.28169,60.39630,8.7,115.2,NaN,0,921.438721,469.734375,11
195133,259088000,2015-09-15 11:02:10,7.91715,63.10250,11.5,342.1,NaN,0,257219400,2015-09-15 11:02:05,7.88660,63.11910,10.1,32.0,NaN,0,942.612305,806.952454,11
221186,257390900,2015-09-15 12:18:59,5.73989,58.97410,6.2,120.6,NaN,0,259551000,2015-09-15 12:18:40,5.77413,58.98820,7.0,193.4,NaN,0,947.876404,302.004425,11
44313,229790000,2015-09-15 03:00:28,118.58700,-20.28610,6.2,0.7,NaN,15,248190000,2015-09-15 03:00:29,118.58800,-20.28610,6.3,0.0,NaN,0,951.907654,85.204071,11
342556,257513000,2015-09-15 18:44:43,5.16585,60.37170,5.3,175.2,NaN,0,258326000,2015-09-15 18:44:54,5.15608,60.38840,9.4,166.0,NaN,0,952.505066,96.803589,11
200927,257564600,2015-09-15 11:21:23,3.31993,63.01620,8.7,219.0,NaN,0,258354000,2015-09-15 11:21:38,3.28440,63.03230,9.7,155.3,NaN,0,970.729919,849.678101,11
271991,477190500,2015-09-15 14:49:29,118.58300,-20.27350,7.2,335.5,NaN,0,503512000,2015-09-15 14:49:36,118.58200,-20.27240,7.0,334.6,NaN,0,977.019714,112.531799,11
194193,219016713,2015-09-15 10:59:13,12.20580,65.64290,10.2,194.2,NaN,0,259546000,2015-09-15 10:59:09,12.17420,65.64950,11.6,155.1,NaN,0,980.854187,423.933044,11
227261,257280000,2015-09-15 12:35:38,18.94050,69.63020,5.3,179.2,NaN,0,257302500,2015-09-15 12:35:31,18.97430,69.64800,11.0,210.0,NaN,0,980.957153,363.562653,11

In [8]:
data_storeA = pd.HDFStore("AIS_large_istances_day0to7.h5")
data_storeB = pd.HDFStore("AIS_large_istances_8to11.h5")